.search-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 6px;
}

.search-video {
}
.video {
  padding: 8px;
}
.search-results {
  text-decoration: none;
}
.title {
  width: 136px;
  word-break: break-all;
  /* overflow-wrap: break-word; */
  text-decoration: none !important;
  color: black;
  margin-top: 2px;
  text-decoration: solid 2px red;
}
.img-box {
  margin: 20px;
}
