.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
}
html {
  background-color: #282c34;
}
.dark {
  background-color: #282c34;
  color: rgb(225, 221, 221);
}
.white {
  background-color: rgb(218, 215, 215);
  color: #282c34;
}

.App-header {
  margin: 20px;
}
